h1{
  font-family:"Roboto Slab";
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  color: green;
}

h2{
  font-family:"Monda";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: black;
}

h3{
  font-family:"Monda";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: black;
}

h4{
  font-family:"Monda";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: black;
}

ul{
  font-family:"Monda";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: black;
}

p{
  font-family:"Monda";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: black;
}

a:hover{
  color: green;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
