h1{
  font-family:"Roboto Slab";
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  letter-spacing: 2px;
  color: green;
}

h2{
  font-family:"Monda";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: black;
  word-spacing: 4px;
  text-decoration: underline;
}

h3{
  font-family:"Monda";
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: black;
}

h4{
  font-family:"Monda";
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: black;
  margin-top: -12px;
}

h5{
  font-family:"Monda";
  font-weight: 700;
  font-size: 14px;
  text-align: center;;
  line-height: 1.5;
  letter-spacing: 2px;
  color: #ffffff;
  background-color: #f08080;
  height: 72px;
  margin-left: 40px;
  margin-right: 40px;
}

p{
  font-family:"Monda";
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
}

a:hover{
  color: green;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
